* {
    margin: 0;
    padding: 0;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

header, nav, section, footer {
    background-color: #FBFBFB;
    margin-bottom: 2px;
    padding: 12px 0 12px 0;
}

h1, nav span {
    margin-left: 10px;
}

section div {
    margin-left: 10px;
    font-size: 15px;
}

section div p {
    margin-bottom: 8px;
}

footer {
    font-size: 13px;
    text-align: center;
}

.footer-link {
    margin-right: 7px;
}
